@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-fondo: #FEF3E2;
    --color-primario: #F3C623;
    --color-secundario: #FFB22C;
    --color-terciario: #FA812F;
    --font-montserrat: "Montserrat", sans-serif;
    --breakpoint-xlt: 90rem;
}