@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

@theme {
    --color-fondo: #FEF3E2;
    --font-montserrat: "Montserrat", sans-serif;
    --font-expanded:"Special Gothic Expanded One", sans-serif;
    --breakpoint-xlt: 90rem;
    --breakpoint-header: 118.75rem;
}